@import 'variables';
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Dancing Script';
  text-align: center;
}

h1,
h1 a,
h1 a:hover {
  color: $purple;
}

.photo-credit {
  bottom: 2px;
  color: $white;
  left: 5px;
  position: fixed;
  font-size: 10px;

  a {
    color: $white;
  }
}

.well {
  background-color: rgba(245, 245, 245, .8);
  border: 0;
  box-shadow: none;
}

.fp-controlArrow.fp-next {
  right: 50px;
  border-color: transparent transparent transparent $purple;
}

.fp-controlArrow.fp-prev {
  border-color: transparent $purple transparent transparent;
}

#fp-nav span,
.fp-slidesNav span {
  border: 1px solid $purple;
}

#fp-nav li .active span,
.fp-slidesNav .active span {
  background: $purple;
}

#fullpage .section,
#fullpage .slide {
  background-size: cover;
}

li.seperated {
  margin-top: 15px;
}

.home {
  background-image: url('../images/home.jpg');
  background-position: top right;
}

.event {
  background-image: url('../images/event.jpg');
}

.info {
  background-image: url('../images/info.jpg');
}

.guest {
  background-image: url('../images/guest.jpg');
  background-position: center;
}

.registry {
  background-image: url('../images/registry.jpg');
  background-position: top right;
}

.footer {
  background-image: url('../images/footer.jpg');
  background-position: center;
}

.photo-1 {
  background-image: url('../images/photo-1.jpg');
  background-position: top right;
}

.photo-2 {
  background-image: url('../images/photo-2.jpg');
  background-position: center;
}

.photo-3 {
  background-image: url('../images/photo-3.jpg');
  background-position: top left;
}

.photo-4 {
  background-image: url('../images/photo-4.jpg');
  background-position: center;
}

.photo-5 {
  background-image: url('../images/photo-5.jpg');
  background-position: top right;
}
