<div class="container-fluid">
  <div class="page-header">
    <h1>Contact Us <small>How to reach wedding</small></h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut felis
        mi. Vestibulum varius imperdiet justo at pellentesque. Donec lacinia
        vel sapien sed iaculis. Etiam vitae gravida arcu. Pellentesque
        condimentum viverra ligula, sed euismod neque porta vitae. Curabitur
        fermentum nulla ac sem imperdiet, quis sollicitudin tortor scelerisque.
        Nulla laoreet nisi sapien, in ornare dui suscipit vitae. Vestibulum
        consectetur venenatis diam vitae sollicitudin. Donec tempus mi massa,
        non tristique nunc vestibulum ac. Etiam at diam at lorem malesuada
        tempus. Aenean mollis dui eget libero consequat, a euismod ante iaculis.
        Maecenas id pretium est. Nam ultricies leo ac metus sagittis
        consectetur. Quisque ut libero urna.
      </p>

      <p>
        Fusce rhoncus tellus vitae pretium rhoncus. Ut eu ante luctus, commodo
        lectus vel, eleifend quam. Proin ipsum quam, tempor sed nisi eu, auctor
        volutpat lorem. Sed in nunc vel erat rhoncus facilisis. Phasellus et
        elit ac nisl molestie rhoncus. Vivamus id justo ultrices neque bibendum
        laoreet. Mauris scelerisque quam vitae velit lacinia placerat. Sed non
        aliquet magna, vel dapibus nisl. In nec lorem lorem. Cras vitae volutpat
        lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        a posuere erat, sit amet tristique libero. Donec sit amet lobortis est,
        et tempus erat. Nulla semper urna ut purus tincidunt, quis consectetur
        lacus fermentum.
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut felis
        mi. Vestibulum varius imperdiet justo at pellentesque. Donec lacinia
        vel sapien sed iaculis. Etiam vitae gravida arcu. Pellentesque
        condimentum viverra ligula, sed euismod neque porta vitae. Curabitur
        fermentum nulla ac sem imperdiet, quis sollicitudin tortor scelerisque.
        Nulla laoreet nisi sapien, in ornare dui suscipit vitae. Vestibulum
        consectetur venenatis diam vitae sollicitudin. Donec tempus mi massa,
        non tristique nunc vestibulum ac. Etiam at diam at lorem malesuada
        tempus. Aenean mollis dui eget libero consequat, a euismod ante iaculis.
        Maecenas id pretium est. Nam ultricies leo ac metus sagittis
        consectetur. Quisque ut libero urna.
      </p>

      <p>
        Fusce rhoncus tellus vitae pretium rhoncus. Ut eu ante luctus, commodo
        lectus vel, eleifend quam. Proin ipsum quam, tempor sed nisi eu, auctor
        volutpat lorem. Sed in nunc vel erat rhoncus facilisis. Phasellus et
        elit ac nisl molestie rhoncus. Vivamus id justo ultrices neque bibendum
        laoreet. Mauris scelerisque quam vitae velit lacinia placerat. Sed non
        aliquet magna, vel dapibus nisl. In nec lorem lorem. Cras vitae volutpat
        lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        a posuere erat, sit amet tristique libero. Donec sit amet lobortis est,
        et tempus erat. Nulla semper urna ut purus tincidunt, quis consectetur
        lacus fermentum.
      </p>
    </div>
  </div>
</div>
