<div id="fullpage">
  <div class="section home">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-4 col-sm-offset-2 well">
          <h1>Jennifer Levin</h1>
          <h2>and</h2>
          <h1>Jonathan Reimels</h1>
          <h2>are getting married!</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="section venue">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-4 col-sm-offset-3 well">
          <h2>Join us at:</h2>
          <h1>
            <a href="http://www.exchangeconferencecenter.com/">
              Boston Exchange Conference Center
            </a>
          </h1>
          <h2>on:</h2>
          <h1>Saturday, May 16, 2015</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section event">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-4 col-sm-offset-3 well">
          <h2>We're registered at:</h2>
          <h1>
            <a href="">
              Bed, Bath and Beyond
            </a>
          </h1>
          <h2>and</h2>
          <h1>
            <a href="">
              Pottery Barn
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="slide photo-1"></div>
    <div class="slide photo-2"></div>
    <div class="slide photo-3"></div>
  </div>

  <div class="section footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-2 well">
          <h1>Other Info</h1>
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Wedding Shower:</strong> TBD
            </li>
            <li class="list-group-item">
              <strong>Hotel:</strong> TBD
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
