$tomato: #eb593c;
$light-blue: #abdcd6;
$pale-turqoise: #b1deff;
$sandy-brown: #f1b14f;
$dark-khaki: #99b455;
$khaki: #ffd46c;

$gray: #333;
$light-gray: #a0a0a0;
$dark-gray: #acacac;
$dark-slate-gray: #333333;

$floral-white: #fffcec;
$white: #fff;

$purple: #551a8b;
