<footer>
  <div class="container-fluid">
    <div class="row text-center">
      <ul class="list-inline">
        <li><%= link_to "About", page_path('about') %></li>
        <li><%= link_to "Contact", page_path('contact') %></li>
        <li><strong>wedding &copy; 2014</strong></li>
      </ul>
    </div>
  </div>
</footer>
