<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-6 col-md-4 col-sm-offset-2 well">
      <h2>Join us at:</h2>
      <h1>
        <a href="http://www.exchangeconferencecenter.com/" target="_blank">
          Boston Exchange Conference Center
        </a>
      </h1>
      <h3>Saturday, May 16, 2015</h3>
      <ul class="list-unstyled text-center">
        <li>Ceremony at 5:30pm</li>
        <li>Cocktails following</li>
        <li>Reception until midnight</li>
        <li class="seperated">Cocktail attire requested</li>
      </ul>
    </div>
  </div>
</div>

<div class="photo-credit">
  Photograph by <a href="https://www.flickr.com/photos/jonr22/">Jonathan Reimels</a>
</div>
