<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-6 col-md-4 col-sm-offset-2 well">
      <h2>Join us at:</h2>
      <h1>
        <a href="http://www.exchangeconferencecenter.com/">
          Boston Exchange Conference Center
        </a>
      </h1>
      <h3>Saturday, May 16, 2015</h3>
      <ul class="list-unstyled text-center">
        <li>Ceremony at 5:30pm</li>
        <li>Cocktails following</li>
        <li>Dinner &amp; dancing: 7pm - 11pm</li>
        <li>Cocktail attire</li>
      </ul>
    </div>
  </div>
</div>
