<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-2 well">
      <h1>We're excited to celebrate with you.</h1>
      <h2>Formal invitation to follow.</h2>
    </div>
  </div>
</div>

<div class="photo-credit">
  Photograph by <a href="https://www.flickr.com/photos/jonr22/">Jonathan Reimels</a>
</div>
