<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-2 well">
      <h1>Other Info</h1>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Wedding Shower:</strong> TBD
        </li>
        <li class="list-group-item">
          <strong>Hotel:</strong> TBD
        </li>
      </ul>
    </div>
  </div>
</div>
