<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-6 col-md-4 col-sm-offset-2 well">
      <h1>Guest and Hotel Information Coming Soon</h1>
    </div>
  </div>

  <div class="photo-credit">
    Photograph by <a href="http://www.bellawangphotography.com/">Bella Wang Photography</a>
  </div>
</div>
