<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-2 well">
      <h1>Hotel Information</h1>
      <ul class="list-unstyled text-center">
        <li>
          <strong>Online reservations:</strong>
          <a href="https://resweb.passkey.com/go/LevinReimelsWeddingRoom" target="_blank">
            available here
          </a>
        </li>
        <li>
          <strong>Phone reservations:</strong> (877) 901 - 6332
        </li>
      </ul>

      <ul class="list-group">
        <li class="list-group-item">
          Discounted rate at the Renaissance Boston Waterfront Hotel
        </li>
        <li class="list-group-item">
          There is a large convention on the same weekend.
          Book early if you wish to stay near the venue.
        </li>
        <li class="list-group-item">
          Join us for breakfast on Sunday between 9 and 11am in the Brewster Room at the Renaissance
          Hotel.
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="photo-credit">
  Photograph by <a href="http://www.bellawangphotography.com/">Bella Wang Photography</a>
</div>
