<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-sm-offset-2 well">
      <h1>Jennifer Levin</h1>
      <h2>and</h2>
      <h1>Jonathan Reimels</h1>
      <h2>are getting married!</h2>
    </div>
  </div>
</div>
