<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-2 well">
      <h1>Additional Venue Info</h1>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Google Map:</strong>
          <br />
          <a href="https://www.google.com/maps/place/Exchange+Conference+Center/@42.3510854,-71.0383234,18z/data=!4m7!1m4!3m3!1s0x89e37078234e8297:0x6bbb66010ad534ec!2sBoston+Fish+Pier,+Boston,+MA+02210!3b1!3m1!1s0x0:0x34aca60b67d47b21"
              target="_blank">
            Boston Exchange Conference Center
          </a>
        </li>
        <li class="list-group-item">
          <strong>Venue Contact:</strong>
          <br />
          (617) 790 - 1900
        </li>
        <li class="list-group-item">Free parking for event!</li>
      </ul>
    </div>
  </div>

  <div class="photo-credit">
    Photograph by <a href="https://www.flickr.com/photos/jonr22/">Jonathan Reimels</a>
  </div>
</div>
