<div class="slide photo-1">
  <div class="photo-credit">
    Photograph by <a href="http://www.bellawangphotography.com/">Bella Wang Photography</a>
  </div>
</div>

<div class="slide photo-2">
  <div class="photo-credit">
    Photograph by <a href="http://www.bellawangphotography.com/">Bella Wang Photography</a>
  </div>
</div>

<div class="slide photo-3">
  <div class="photo-credit">
    Photograph by <a href="http://www.bellawangphotography.com/">Bella Wang Photography</a>
  </div>
</div>

<div class="slide photo-4">
  <div class="photo-credit">
    Photograph by <a href="http://www.bellawangphotography.com/">Bella Wang Photography</a>
  </div>
</div>

<div class="slide photo-5">
  <div class="photo-credit">
    Photograph by <a href="http://www.bellawangphotography.com/">Bella Wang Photography</a>
  </div>
</div>
