<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-6 col-md-4 col-sm-offset-2 well">
      <h2>We're registered at:</h2>
      <h1>
        <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?sorting=1&pwsToken=&eventType=Wedding&registryId=11066105&pwsurl=&view=1" target="_blank">
          Bed, Bath and Beyond
        </a>
      </h1>
      <h2>and</h2>
      <h1>
        <a href="http://www.potterybarn.com/registry/3549058/registry-list.html" target="_blank">
          Pottery Barn
        </a>
      </h1>
    </div>
  </div>
</div>

<div class="photo-credit">
  Photograph by <a href="http://www.bellawangphotography.com/">Bella Wang Photography</a>
</div>
