<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-sm-offset-2 well">
      <h2>Join us at:</h2>
      <h1>
        <a href="http://www.exchangeconferencecenter.com/">
          Boston Exchange Conference Center
        </a>
      </h1>
      <h2>on:</h2>
      <h1>Saturday, May 16, 2015</h1>
    </div>
  </div>
</div>
